@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {

  body {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: 2rem 2rem; 
    overflow-x: hidden;
  
    /* background-image: linear-gradient(to right, #f7931a 1px, transparent 1px),
    linear-gradient(to bottom, #f7931a 1px, transparent 1px);  

    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient(to right, #fff 1px, transparent 1px),
      linear-gradient(to bottom, #fff 1px, transparent 1px); */
  }
  
  /* @media (prefers-color-scheme: dark) {
    body {
      background-image: linear-gradient(to right, #fff 1px, transparent 1px),
      linear-gradient(to bottom, #fff 1px, transparent 1px);
    }
  }
  
  @media (prefers-color-scheme: light) {
    body {
      background-image: linear-gradient(to right, #4d4d4d 1px, transparent 1px),
      linear-gradient(to bottom, #4d4d4d 1px, transparent 1px);
    }
  } */

  

  /* Add your grid background styling here */

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;

    background-size: 2rem 2rem; 

    background-image: linear-gradient(to right, #B3B3B3  1px, transparent 1px),
    linear-gradient(to bottom, #B3B3B3  1px, transparent 1px);
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    background-image: linear-gradient(to right, #414141 1px, transparent 1px),
      linear-gradient(to bottom, #414141 1px, transparent 1px);
      background-size: 2rem 2rem; 

  }
}
